html
        head
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        body
            a(href="/") Home
            a(href="/users") View Users
            a(href="/users/create") Create Users
            a(href="/products") Products
            a(href="/cart") Cart
            block content